#root{
    margin: auto;
    max-width: 600px;
    height: 100vh;
  }

a{
  text-decoration: none;
  color:black;
}

#root{
  margin: auto;
  max-width: 600px;
}

a { -webkit-tap-highlight-color:transparent;}