#root{
    margin: auto;
    max-width: 600px;
    height: 100vh;
  }

#root{
  margin: auto;
  max-width: 600px;
}

a { 
  -webkit-tap-highlight-color:transparent; 
  -webkit-user-drag: none;
  text-decoration: none;
  color:black;
}


img {
  -webkit-user-drag: none;
}

div {
  -webkit-user-drag: none;
}
